/* 
//---------------
icon family added
//--------- */
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@1,300&family=Poppins:wght@500&display=swap');


body {

    font-family: 'Poppins', sans-serif;
}

/* 
 //-----------header section design
 //-------------- */

.header-section {
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 600px;
    margin-left: 80px;
    background-color: #161616;
}

.header-info {
    margin: 30px 119px;
}

.header-top {
    font-size: 55px;
}

.header-details {
    color: white;
    margin: 0px;
}

.header-button {

    background-color: #DD0000;
    color: white;
    border-radius: 7px;
    padding: 16px 25px;
    margin-top: 20px;
}

.fa-greater-than {
    margin-left: 8px;
}

.header-picture img {
    margin-right: 66px;
    margin-top: 10px;
    width: 581px;
    height: 550px;
}

/*
//--------- article section design start
//------------------ */

.artical {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.artical-button-section {
    width: 300px;
    height: 210px;
    background: #000000;
    text-align: center;
    margin-right: 30px;
    border-radius: 10px;
}

.artical-button-section a {
    display: block;
    text-decoration: none;
    background: #fff;
    margin: 20px 30px;
    padding: 10px 20px;
    border-radius: 10px;
    color: #000000;
    font-size: 15px;
}

.artical-button-section a.active-button {
    background: orangered;
    color: #ffffff;
}

.artical-blog-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.blog-section {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
}

.blog-section img {
    width: 100%;
}

.blog-write-content {
    padding: 10px;
}

.blog-write-content h1 {
    padding: 10px 0 20px;
}

.blog-section .blog-button {
    padding: 3px 20px;
    border-radius: 5px;
    border: 1px solid gray;
}

.blog-footer-item {
    font-size: 15px;
    padding-bottom: 20px;
}

.blog-footer-item .fa-clock {
    padding-right: 5px;
}

.blog-footer-item .fa-comment-alt {
    padding-left: 20px;
    padding-right: 5px;
}

/*------------------
   view all buttton for responsive
  ----------------- */
.all-blog-item-button {
    margin: 50px 0;
    text-align: center;
    display: none;
}

/*
//--------- 
article section design end
//------------------ */

/* 
////-
upcoming section design start */

.flag-page-container {
    padding-top: 50px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    padding: 50px 4px 0;
}

.flag-page-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;
}

.flag-page-content h1 {
    font-size: 3rem;
}

.flag-page-container h2 {
    font-size: 2rem;
    padding: 0 30px;
}

.flag-page-container p {
    font-size: 1rem;
    padding: 20px 0 50px;
}

/*------------------
    footer section  start
    ---------------*/
.footer-section {
    margin-top: 100px;
    text-align: center;
    background: #000000;
    color: #ffffff;
}

.footer-section h1 {
    padding: 80px 0 50px;
}

.footer-line {
    width: 80%;
    margin: 0 auto;
    opacity: 0.2;
    margin-bottom: 50px;
}

.footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.footer-menu a {
    text-decoration: none;
    margin: 0 20px;
    color: #ada9a9;
}

.footer-icon {
    padding-bottom: 30px;
}

.footer-icon a {
    margin: 0 10px;
    padding: 6px 9px;
    border-radius: 50%;
    background: rgb(49, 47, 47);
    font-size: 15px;
    color: #b3b3b3;
}

/* 
////-
upcoming section design end */

/*------------------
    footer section  end
    ---------------*/


/*-----------------
      media quary add 
     ----------------- */


/* ---------------------
     Dekstop responsive media quary up to 992px
     ----------------- */
@media only screen and (min-width: 675px) and (max-width: 992px) {

    /* header section  .header-section { */
    .header-section {
        display: flex;
        display: flex;
        flex-direction: column;
    }


    /*--------------
     artocal section blog seciton responsive 
    ----------- */
    .artical {
        flex-wrap: wrap;
    }

    .artical-button-section {
        width: 100%;
        height: auto;
        background: #fff;
        margin-right: 00px;
        margin-bottom: 30px;
    }

    .artical-button-section a {
        display: inline;
        text-decoration: none;
        background: #fff;
        margin: 20px 10px;
        padding: 10px 25px;
        font-weight: bold;
        color: #000000;
        font-size: 18px;
        border: 1px solid rgb(219, 219, 219);
    }

    .artical-blog-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    #blog-for-responsive {
        display: none;
    }

    /*------------
     view all responsive button 
    ------------- */
    .all-blog-item-button {
        display: block;
    }
}

/* ---------------------
     mobile responsive media quary up to 576px
     ----------------- */

@media (max-width: 676px) {
    .header-section {

        flex-wrap: wrap;
        height: 800px;
        width: 100%;
        margin-left: 0px;


    }

    .header-info {
        width: 50%;
        height: 30%;
    }

    .header-info h1 {
        font-size: 7vw;
    }

    .header-picture img {
        width: 50%;
        height: 50%;
        text-align: center;
        margin-left: 85px;
        margin-top: 200px;
    }


    .artical {
        flex-wrap: wrap;
    }

    .artical-button-section {
        width: auto;
        height: auto;
        background: #fff;
        margin-right: 00px;
        margin-bottom: 30px;
    }

    .artical-button-section a {
        display: block;
        background: #fff;
        margin: 20px 10px;
        padding: 10px 15px;
        font-weight: bold;
        color: #000000;
        font-size: 18px;
        border: 1px solid rgb(219, 219, 219);
    }

    .artical-blog-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }

    #blog-for-responsive {
        display: none;
    }

    /*------------
     view all responsive button 
    ------------- */
    .all-blog-item-button {
        display: block;
    }

    /* footer menu responsive */
    .footer-menu {
        margin-bottom: 10px;
    }

    .footer-menu a {
        margin: 0 10px;
    }
}